 *{
    font-family: Arial, Helvetica, sans-serif;
    margin : 0;
    padding: 0;
}
.createCharacter{
    height: 50px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 25px;
    background-color: rgb(185, 225, 225);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin: 20px auto 40px auto;
    &:hover {
        background-color: rgba(185, 225, 225, 0.5);
        border: 2px solid rgb(141, 179, 179);
        transition: background-color 0.2s ease-in-out;
    }
}

body {
    background-color: rgb(233, 233, 233);

    .cardContainer {
        display: grid;
        margin: 25px;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        grid-gap: 25px; 
    
        // Responsive styles
        @media screen and (max-width: 1200px) {
          grid-template-columns: repeat(2, 1fr);
        }
    
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          margin-top: 10px;
        }

        .card{
            border: 2px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            border-radius: 15px;
            width: 70%;
            min-height: 90%;
            text-align: center;
            padding: 10px;
            box-shadow: 5px 10px 5px rgb(212, 212, 212);
            margin: auto;
            overflow: hidden;
        
            button{
                font-size: 1vw min(10px);
                text-transform: uppercase;
                padding: 7px 10px;
                background-color: rgb(185, 225, 225);
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 15px;
                margin: 25px 10px;
                font-weight: 700;
                &:hover {
                    background-color: rgba(185, 225, 225, 0.5);
                    border: 1px solid rgb(141, 179, 179);
                    transition: background-color 0.2s ease-in-out;
                }
                @media screen and (max-width: 768px) {
                    padding: 15px;
                  }
            }
        
            .imgContainer {
                img{
                    margin-bottom: 25px;
                    align-self: center;
                    width: 110%;
                    border-radius: 15px;
                }
                margin: 10px auto 0 auto;
            }
        }
      }
}



